<mat-chip-list>
  <mat-chip  *ngIf="saved == '1'">Saved</mat-chip>
  <mat-chip  *ngIf="saved == '0'">Incorrect Vote</mat-chip>
</mat-chip-list>
<div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="group">
      <mat-header-cell *matHeaderCellDef> Group  </mat-header-cell>
      <mat-cell *matCellDef="let match"> {{match.group}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tournamentStep">
      <mat-header-cell *matHeaderCellDef> Round  </mat-header-cell>
      <mat-cell *matCellDef="let match"> {{match.tournamentStep}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let match"> {{match.date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
      <mat-cell *matCellDef="let match"> {{match.location}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="teams">
      <mat-header-cell *matHeaderCellDef> Teams </mat-header-cell>
      <mat-cell *matCellDef="let match"> {{match.homeTeam}} - {{match.awayTeam}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="score" >
      <mat-header-cell *matHeaderCellDef> Score </mat-header-cell>
      <mat-cell *matCellDef="let match">
        <span *ngIf="!isAdmin()">{{match.scores}}</span>
        <form class="vote-form" *ngIf="isAdmin()">
          <mat-form-field class="vote-full-width">
            <input title="scores" value="{{match.scores}}" matInput #box (blur)="saveMatchScore(match.id, box.value)">
          </mat-form-field>
        </form>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="inputScore">
      <mat-header-cell *matHeaderCellDef> Your Vote </mat-header-cell>
      <mat-cell *matCellDef="let match">
        <form class="vote-form">
          <mat-form-field class="vote-full-width">
            <input [disabled]="match.scores != '' || compareDates(match)" title="scores" value="{{match.votes}}" id="{{match.id}}" matInput #box (blur)="vote(box.id, box.value) ">
          </mat-form-field>
        </form>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
