<div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef> User </mat-header-cell>
      <mat-cell *matCellDef="let vote"> {{vote.username}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Match Date </mat-header-cell>
      <mat-cell *matCellDef="let vote"> {{vote.date}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="group">
      <mat-header-cell *matHeaderCellDef> Group </mat-header-cell>
      <mat-cell *matCellDef="let vote"> {{vote.group}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="tournamentStep">
      <mat-header-cell *matHeaderCellDef> Round </mat-header-cell>
      <mat-cell *matCellDef="let vote"> {{vote.tournamentStep}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="teams">
      <mat-header-cell *matHeaderCellDef> Teams </mat-header-cell>
      <mat-cell *matCellDef="let vote"> {{vote.homeTeam}} - {{vote.awayTeam}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="score" >
      <mat-header-cell *matHeaderCellDef> Score </mat-header-cell>
      <mat-cell *matCellDef="let vote"> {{vote.homeTeamVote}} : {{vote.awayTeamVote}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
