<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Worold Cup 2018</title>
</head>
<body>
    <table style="width:100%;text-align: left">
        <tr>
            <th>Group</th>
            <th>Location</th>
            <th>Teams</th>
            <th>Score</th>
        </tr>
        <th:block th:each="match : ${matches}">
            <tr>
                <td th:text="${match.getGroup().getName()}">...</td>
                <td th:text="${match.getLocation()}">...</td>
                <td th:text="${match.getTeams()}">...</td>
                <td th:text="${match.getResult()}">...</td>
            </tr>
        </th:block>
    </table>
</body>
</html>