<form class="login-form" (submit)="login()">
  <mat-form-field class="login-full-width">
    <input matInput placeholder="Username" id="username" name="username" [(ngModel)]="credentials.username">
  </mat-form-field>
  <mat-form-field class="login-full-width">
    <input matInput placeholder="Password" id="password" name="password" [(ngModel)]="credentials.password" type="password">
  </mat-form-field>
  <button mat-button type="submit" >Submit</button>
</form>
