<mat-toolbar class="main-menu">
  <mat-menu #userMenu="matMenu" >
    <button mat-menu-item routerLinkActive="active" routerLink="/login">Login</button>
    <button mat-menu-item routerLinkActive="active" routerLink="/registration">Registration</button>
  </mat-menu>

  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="User Menu" [matMenuTriggerFor]="userMenu" [hidden]="authenticated()">
      <div [hidden]="authenticated()">Guest</div>
    </mat-button-toggle>
    <mat-button-toggle [hidden]="!authenticated()" (click)="logout()">Logout</mat-button-toggle>
    <mat-button-toggle value="Statistic" routerLinkActive="active" routerLink="/statistic">Statistic</mat-button-toggle>
    <mat-button-toggle value="Matches" routerLinkActive="active" routerLink="/matches">Matches</mat-button-toggle>
    <mat-button-toggle value="Votes" routerLinkActive="active" routerLink="/votes">Votes</mat-button-toggle>
    <mat-button-toggle *ngIf="isAdmin()" routerLinkActive="active" routerLink="/users">Users</mat-button-toggle>
    <mat-button-toggle routerLinkActive="active" routerLink="/rules">Rules</mat-button-toggle>
  </mat-button-toggle-group>
</mat-toolbar>
