<p>Для любителей футбола с целью повышения интереса при просмотре ЧМ 2018 в России организовывается тотализатор.<p>
<p>Правила простые</p>

<p>Расчет очков за матч</p>
<p>В каждом матче игрок может получить 3, 2, 1 или 0 очков:</p>
<p>За угаданный счет матча - 3 очков.</p>
<p>Если счет не угадан, но угадан исход (победа, поражение) - 1 очко.</p>
<p>За угаданный исход (победа, ничья, поражение)  и разницу мячей - 2 очка.</p>
<p>Если исход матча не угадан - 0 очков.</p>

<p>пример</p>
<p>Прогноз   Результат   Очки</p>
<p>1-0        1-0        3    (угадан счет матча)</p>
<p>1-0        3-2        2    (угадан исход и разница мячей)</p>
<p>1-1        2-2        2    (угадан исход и разница мячей)</p>
<p>1-0        2-0        1    (угадан только исход матча)</p>
<p>0-1        1-4        1    (угадан только исход матча)</p>
<p>1-0        1-1        0    (исход матча не угадан)</p>
<p>1-0        0-1        0    (исход матча не угадан)</p>

<p>Свои прогнозы необходимо прислать минимум за 30 мин до начала первого матча текущего дня. Каждому участнику будет предоставлен доступ со списком матчей, куда он будет заносить свои прогнозы.</p>

<p>#Правила_игры</p>
