<mat-chip-list>
  <mat-chip class="chip-warn" *ngIf="errors">{{errors}}</mat-chip>
</mat-chip-list>
<br>
<form class="registration-form" #registration="ngForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="registration-full-width">
    <input matInput placeholder="Username" id="username" [(ngModel)]="model.username" name="username" minlength="5" maxlength="32" required>
  </mat-form-field>
  <table class="registration-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="registration-full-width">
          <input matInput placeholder="First Name"  id="firstname" [(ngModel)]="model.firstname" name="firstname"minlength="5" maxlength="32"  required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="registration-full-width">
          <input matInput placeholder="Last Name"  id="lastname" [(ngModel)]="model.lastname" name="lastname" minlength="5" maxlength="32" required>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <mat-form-field class="registration-full-width">
    <input matInput placeholder="Email"  id="email" [(ngModel)]="model.email" name="email" email required>
  </mat-form-field>
  <table class="registration-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="registration-full-width">
          <input matInput placeholder="Password"  id="password" [(ngModel)]="model.password" name="password"minlength="5" maxlength="32"  required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="registration-full-width">
          <input matInput placeholder="Password Confirm"  id="passwordConfirm" [(ngModel)]="model.passwordConfirm" name="passwordConfirm" minlength="5" maxlength="32" required>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" id="birthday" [(ngModel)]="model.birthday" name="birthday">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
  </mat-form-field>


  <button mat-button  type="submit" class="btn btn-success" [disabled]="!registration.form.valid">Submit</button>
</form>
