<div>
  <mat-table [dataSource]="dataSource" >
    <ng-container matColumnDef="rank">
      <mat-header-cell *matHeaderCellDef> Pos. </mat-header-cell>
      <mat-cell *matCellDef="let statistic"> {{statistic.rank}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef> User </mat-header-cell>
      <mat-cell *matCellDef="let statistic"> {{statistic.username}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="points">
      <mat-header-cell *matHeaderCellDef> Points </mat-header-cell>
      <mat-cell *matCellDef="let statistic"> {{statistic.points}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="games">
      <mat-header-cell *matHeaderCellDef> Games </mat-header-cell>
      <mat-cell *matCellDef="let statistic"> {{statistic.games}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="full">
      <mat-header-cell *matHeaderCellDef> Completely Guessed </mat-header-cell>
      <mat-cell *matCellDef="let statistic"> {{statistic.full}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="notFull">
      <mat-header-cell *matHeaderCellDef> Not Completely Guessed </mat-header-cell>
      <mat-cell *matCellDef="let statistic"> {{statistic.notFull}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nothing">
      <mat-header-cell *matHeaderCellDef> Not Guessed </mat-header-cell>
      <mat-cell *matCellDef="let statistic"> {{statistic.nothing}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
